{% extends "base.html" %}
{% comment %} {% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">

        <h2 class="form-signin-heading text-center">Войти в аккаунт</h2>

        <div class="card card-signin text-center">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="Log-in">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Stay signed in
                    </label>
                </div>
            </form>
        </div>

        <p class="text-center">
            <a href="{% url "registration" %}">Create Account</a>
            |
            <a href="{% url 'all_news' %}">Главная</a>
        </p>

    </div> <!-- /container -->
{% endblock %} {% endcomment %}



{% block title %}Вход{% endblock %}
{% block content %}
    <center>
    <h1>Вход</h1>
    <p>Please, use the following form to log-in:</p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Log-in"></p>
    </form>
    </center>
{% endblock %}